<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <!-- Appender that writes on the console -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{HH:mm:ss,SSS} %C{1}.%M:%L %x - %m%n" />
        </layout>
    </appender>
    
    <!-- Appender that writes on the file - separates by day -->
    <appender name="core" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="File" value="/${user.home}/idtrack/lavasigma/log/core.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{HH:mm:ss,SSS} %C{1}.%M:%L %x - %m%n" />
        </layout>
    </appender>
    
    <root>
        <appender-ref ref="core" />
        <appender-ref ref="console" />
    </root>
    
</log4j:configuration>